@model ShafiuddinSarkariSchool.Models.tblTeacher

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblTeacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bangla)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bangla)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.English)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.English)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Math)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Math)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialScience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialScience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Science)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Science)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tblClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tblClass.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tblExam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tblExam.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tblSection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tblSection.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tblStudent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tblStudent.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TeacherId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
